@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

:root {
  --section-bg: #2f2a33;
  --lilac: #b082de;
  --bg: #3e3943;
  --text: white;
  --titlefont: "Playfair Display", serif;
  --textfont: "Inter", sans-serif;
  --hoverfont: "Caveat", cursive;
}

* {
  padding: 0;
  margin: 0;
}

body.light {
  --section-bg: #efebf3;
  --lilac: #b082de;
  --bg: white;
  --text: black;
  --grey: #6a6a6a;
}

body.light .sun {
  display: none;
}

body:not(.light) .moon {
  display: none;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

.center-content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}

nav {
  display: flex;
  align-items: center;
}

.nav-bar {
  background-color: var(--bg);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: inline-block;
  max-height: 25px;
}

.dinamic-vector {
  fill: var(--text);
}

.menu {
  color: var(--text);
  margin-left: auto;
  display: flex;
  align-items: center;
}

#switch-btn,
#hamburguer,
#close {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

#close {
  display: inline-block;
}

#close svg path {
  stroke: var(--text);
}

#hamburguer {
  margin-left: 10px;
}

#switch-btn:hover,
#hamburguer:hover,
#close:hover {
  opacity: 0.5;
}

.hidden-menu {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  position: fixed;
  background: white;
  display: none;
  background-color: var(--section-bg);
  color: var(--textfont);
}

.hidden-menu ul {
  font-size: 40px;
  font-family: var(--textfont);
  text-transform: uppercase;
  list-style: none;
}

.hidden-menu li {
  padding-bottom: 20px;
}

.hidden-menu a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

.hidden-menu a:hover {
  font-family: var(--hoverfont);
  color: var(--lilac);
  text-transform: none;
}

#close {
  margin-left: auto;
  padding-right: 10px;
  padding-top: 10px;
}

.welcome-text h1 {
  font-family: var(--titlefont);
  font-size: 50px;
}

.main-title {
  font-family: var(--titlefont);
  font-size: 30px;
  padding-bottom: 20px;
}

.text {
  font-family: var(--textfont);
  line-height: 22px;
  font-size: 14px;
}

h1 span {
  color: var(--lilac);
}

.background-day {
  background-color: var(--section-bg);
  padding-top: 30px;
}

.welcome-text h2 {
  font-size: 40px;
  font-family: var(--titlefont);
}

.welcome-text {
  margin-top: 180px;
  text-align: center;
}

.profile-pic {
  border-radius: 150px;
  margin-top: 80px;
  max-width: 100%;
}

.icon-scroll {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 180px;
}

.intro-title {
  font-family: var(--titlefont);
  font-size: 40px;
  padding-bottom: 30px;
}

.projects-intro {
  background-color: var(--bg);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

.projects-container {
  background-color: var(--bg);
}

.single-project {
  display: flex;
  margin-bottom: 50px;
}

.single-project h2 {
  padding-top: 50px;
}

.project-text p {
  margin-right: 60px;
}

.cta {
  font-family: var(--textfont);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: solid 1px var(--lilac);
  background-color: var(--lilac);
  color: white;
  cursor: pointer;
}

.icon {
  padding: 6.5px;
  margin-left: 5px;
}

.cta:hover {
  border: solid 1px --lilac;
  background-color: var(--bg);
  color: var(--lilac);
}

.cta:hover svg path {
  fill: var(--lilac);
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons a {
  margin-top: 20px;
  display: inline-block;
}

.contacts-section {
  background-color: var(--section-bg);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.buttons-contact {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

footer p {
  padding: 20px;
  text-align: center;
  color: var(--text);
}

footer span {
  color: var(--lilac);
}
/* RESPONSIVE RULES 
@media only screen and (max-width: 800px) {
}*/
